.page1 {
  background-image: url("../images/dice.gif");
  background-size: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
}
.bg-danger {
  font-weight: bolder;
  }
#btn-play {
  background-color: lightpink;
  margin-left: 40%;
  margin-right: 40%;
  width: 100px;
  color: black;
}
#names {
  visibility: visible;
}
.page2 {
  background-image: url("../images/bck3.jpg");
  background-size: cover;
  font-size: 20px;
}
#p1 {
color: salmon;
font-weight: bolder;
}
#p2 {
color: salmon;
font-weight: bolder;
}
.score1 {
  color: salmon;
}
.score2 {
  color: salmon;
}
